* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Fira sans", sans-serif;
  font-size: 20px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  background-color: var(--grey3);
  color: var(--veryLightGray);
}

header {
  max-width: 800px;
  width: 100%;
  padding: 2rem 1rem;
  margin: 0 auto;
}

header h1 {
  font-size: 2.5rem;
  font-weight: 100;
  color: var(--lightGrayishBlue);
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  padding-bottom: 2rem;
  border-bottom: solid white 2px;
}

input, button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  background: none;
}

button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

:root {
  --darkBlue: hsl(233, 26%, 24%);
  --grey1: #767070;
  --grey2: #252526;
  --grey3: #333333;
  --red1: #c61e00;
  --blue1: #004ac9;
  --blue2: #0e84b6;
  --green1: #049344;
  --grayishBlue: hsl(233, 8%, 62%);
  --lightGrayishBlue: hsl(220, 16%, 95%);
  --veryLightGray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

#new-task-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

#new-task-text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: var(--grey2);
  padding: 20px;
  border-radius: 10px;
  color: var(--veryLightGray);
}

#new-task-submit {
  margin: 20px;
  font-size: 1.25rem;
  font-weight: 700;
  background-image: -webkit-gradient(linear, left top, right top, from(var(--blue2)), to(var(--green1)));
  background-image: linear-gradient(to right, var(--blue2), var(--green1));
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 0.7;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#new-task-submit:hover {
  opacity: 1;
  font-size: 1.3rem;
}

.task-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}

.task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  max-width: 80%;
  background-color: var(--grey2);
  padding: 20px;
  border-radius: 10px;
}

.content input {
  width: 90%;
  color: var(--lightGrayishBlue);
}

.content .edit-text {
  color: var(--grey1);
}

.actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 10px;
  margin: 10px;
}

.iconify {
  font-size: 1.2rem;
  opacity: 0.6;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.iconify:hover {
  opacity: 1;
}

.edit-button {
  background-color: var(--blue2);
  border-radius: 10px;
  padding: 10px;
}

.save-button {
  background-color: var(--green1);
  border-radius: 10px;
  padding: 10px;
}

.delete-button {
  background-color: var(--red1);
  border-radius: 10px;
  padding: 10px;
}
/*# sourceMappingURL=style.css.map */